div.background {
  /*Team Logo. Currently Hidden behind the website*/
  height:100vh;
  position: absolute;
  background-image:url(cis_logo_icon.png);
  background-repeat:no-repeat;
  background-attachment: fixed;
  background-size:contain;
  }
}
body {
  
}
p {
  text-align: left;
  color: black;
}
li.text {
  color:darkslategrey;
  text-align: left;
}
h1 {
  text-align: center;
  font-weight: bold;
}
h3 {
  font-size: 30px;
  margin: 20px;
}
img.banner {
  display: inline;
  text-align: center;
  width: 100%;
  height: 180px;
  object-fit: fill;
}
img.news_button {
  height:78px;
  width:224px;
}
img.home_button {
  height:78px;
  width:224px;
  float:left;
  margin-right: 20px;
}
